# Exploratory Data Analysis (EDA) for NYC taxy trips

In [94]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType, TimestampNTZType

# Init spark session
spark = SparkSession.builder \
    .appName("NYC_Taxi_Exploration") \
    .config("spark.sql.sources.partitionOverwriteMode", "dynamic") \
    .getOrCreate()

In [95]:
# After explore the dataframe created the schema for fast processing

schema_fields = StructType([
    StructField("VendorID",                 IntegerType(),      False),
    StructField("tpep_pickup_datetime",     TimestampNTZType(), True),
    StructField("tpep_dropoff_datetime",    TimestampNTZType(), True),
    StructField("passenger_count",          DoubleType(),       True),
    StructField("trip_distance",            DoubleType(),       True),
    StructField("RatecodeID",               DoubleType(),       True),
    StructField("store_and_fwd_flag",       StringType(),       True),
    StructField("PULocationID",             IntegerType(),      True),
    StructField("DOLocationID",             IntegerType(),      True),
    StructField("payment_type",             IntegerType(),      True),
    StructField("fare_amount",              DoubleType(),       True),
    StructField("extra",                    DoubleType(),       True),
    StructField("mta_tax",                  DoubleType(),       True),
    StructField("tip_amount",               DoubleType(),       True),
    StructField("tolls_amount",             DoubleType(),       True),
    StructField("improvement_surcharge",    DoubleType(),       True),
    StructField("total_amount",             DoubleType(),       True),
    StructField("congestion_surcharge",     DoubleType(),       True),
    StructField("airport_fee",              DoubleType(),       True),
    StructField("ingestion_timestamp",      TimestampType(),    True),
    StructField("source_file",              StringType(),       True)
])

In [99]:
# Load data from Bronze layer
#df_bronze = spark.read.parquet("../data/bronze/nyc_taxi/trip_data/year=2023/month=01/", schema=schema_fields)
df_bronze = spark.read.parquet("../data/bronze/nyc_taxi/trip_data/", schema_fields=schema_fields)
df_zones = spark.read.option("header", "true").csv("../data/bronze/nyc_taxi/taxi_zone/taxi_zone_lookup.csv")

#df_bronze.describe().show()
df_bronze.printSchema()
df_bronze.show(5)
df_bronze.groupBy("month").count().show()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- ingestion_timestamp: timestamp (nullable = true)
 |-- source_file: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------------+----+-----+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee| ingestion_timestamp|         source_file|year|month|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------------+----+-----+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|2026-02-21 23:13:...|https://d37ci6vzu...|2023|    1|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|2026-02-21 23:13:...|https://d37ci6vzu...|2023|    1|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|2026-02-21 23:13:...|https://d37ci6vzu...|2023|    1|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|2026-02-21 23:13:...|https://d37ci6vzu...|2023|    1|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|2026-02-21 23:13:...|https://d37ci6vzu...|2023|    1|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------+--------------------+----+-----+
only showing top 5 rows
+-----+-------+
|month|  count|
+-----+-------+
|    1|3066766|
|    3|3403766|
|    2|2913955|
+-----+-------+

In [12]:
df_bronze.show(10, truncate=False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------------+-------------------------------------------------------------------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|ingestion_timestamp       |source_file                                                                    |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------------+-------------------------------------------------------------------------------+
|2       |2023-01-01 00:32:10 |2023-01-01 00:40:36  |1.0            |0.97         |1.0       |N                 |161         |141         |2           |9.3        |1.0  |0.5    |0.0       |0.0         |1.0                  |14.3        |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:55:08 |2023-01-01 01:01:27  |1.0            |1.1          |1.0       |N                 |43          |237         |1           |7.9        |1.0  |0.5    |4.0       |0.0         |1.0                  |16.9        |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:25:04 |2023-01-01 00:37:49  |1.0            |2.51         |1.0       |N                 |48          |238         |1           |14.9       |1.0  |0.5    |15.0      |0.0         |1.0                  |34.9        |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|1       |2023-01-01 00:03:48 |2023-01-01 00:13:25  |0.0            |1.9          |1.0       |N                 |138         |7           |1           |12.1       |7.25 |0.5    |0.0       |0.0         |1.0                  |20.85       |0.0                 |1.25       |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:10:29 |2023-01-01 00:21:19  |1.0            |1.43         |1.0       |N                 |107         |79          |1           |11.4       |1.0  |0.5    |3.28      |0.0         |1.0                  |19.68       |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:50:34 |2023-01-01 01:02:52  |1.0            |1.84         |1.0       |N                 |161         |137         |1           |12.8       |1.0  |0.5    |10.0      |0.0         |1.0                  |27.8        |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:09:22 |2023-01-01 00:19:49  |1.0            |1.66         |1.0       |N                 |239         |143         |1           |12.1       |1.0  |0.5    |3.42      |0.0         |1.0                  |20.52       |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:27:12 |2023-01-01 00:49:56  |1.0            |11.7         |1.0       |N                 |142         |200         |1           |45.7       |1.0  |0.5    |10.74     |3.0         |1.0                  |64.44       |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:21:44 |2023-01-01 00:36:40  |1.0            |2.95         |1.0       |N                 |164         |236         |1           |17.7       |1.0  |0.5    |5.68      |0.0         |1.0                  |28.38       |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
|2       |2023-01-01 00:39:42 |2023-01-01 00:50:36  |1.0            |3.01         |1.0       |N                 |141         |107         |2           |14.9       |1.0  |0.5    |0.0       |0.0         |1.0                  |19.9        |2.5                 |0.0        |2026-02-21 20:19:42.571835|https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------------------+-------------------------------------------------------------------------------+
only showing top 10 rows

In [ ]:
# Checking basic statistics on values ​​and distances
df_bronze.select("trip_distance", "fare_amount", "total_amount").describe().show()

# Filter for inconsistent records
df_cleaned = df_bronze.filter(
    (F.col("trip_distance") > 0) & # Validate positive distance
    (F.col("total_amount") > 0) & # Validate positive total amount
    (F.col("passenger_count") > 0) # Validate positive passenger count
)

print(f"Records after cleaning: {df_cleaned.count()}")

+-------+------------------+------------------+------------------+
|summary|     trip_distance|       fare_amount|      total_amount|
+-------+------------------+------------------+------------------+
|  count|           3066766|           3066766|           3066766|
|   mean|3.8473420306601414| 18.36706861234247| 27.02038310708492|
| stddev|249.58375606858166|17.807821939337924|22.163588952492184|
|    min|               0.0|            -900.0|            -751.0|
|    max|         258928.15|            1160.1|            1169.4|
+-------+------------------+------------------+------------------+

Records after cleaning: 2884460

In [18]:
df_cleaned.groupBy("RatecodeID").count().show()

+----------+-------+
|RatecodeID|  count|
+----------+-------+
|       1.0|2746151|
|       4.0|   4204|
|       3.0|   7975|
|       2.0| 108465|
|      99.0|  11213|
|       6.0|      1|
|       5.0|   6451|
+----------+-------+

In [19]:
df_cleaned.groupBy("store_and_fwd_flag").count().show()

+------------------+-------+
|store_and_fwd_flag|  count|
+------------------+-------+
|                 Y|  18140|
|                 N|2866320|
+------------------+-------+

In [21]:
df_cleaned.groupBy("payment_type").count().show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           1|2350785|
|           3|   9266|
|           2| 508070|
|           4|  16339|
+------------+-------+

In [20]:
# Create dimension (Normalized) for location
dim_location = df_zones.select(
    F.col("LocationID").alias("location_id"),
    F.col("Borough").alias("borough"),
    F.col("Zone").alias("zone"),
    F.col("service_zone").alias("service_zone")
)

dim_location.show(5)

+-----------+-------------+--------------------+------------+
|location_id|      borough|                zone|service_zone|
+-----------+-------------+--------------------+------------+
|          1|          EWR|      Newark Airport|         EWR|
|          2|       Queens|         Jamaica Bay|   Boro Zone|
|          3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|          4|    Manhattan|       Alphabet City| Yellow Zone|
|          5|Staten Island|       Arden Heights|   Boro Zone|
+-----------+-------------+--------------------+------------+
only showing top 5 rows

In [ ]:
# Defining schema structure for the Fact table

df_cleaned = df_cleaned.withColumn("store_and_fwd_flag",
    F.when(F.col("store_and_fwd_flag") == "Y", True)
     .when(F.col("store_and_fwd_flag") == "N", False)
     .otherwise(None) # For any other value, set as null
)

# Creating the Fact table with clean IDs and metrics
fact_trips = df_cleaned.select(
    F.monotonically_increasing_id().alias("trip_id"), # Surrogate key
    F.col("VendorID").alias("vendor_id"),
    F.col("tpep_pickup_datetime").alias("pickup_time"),
    F.col("tpep_dropoff_datetime").alias("dropoff_time"),
    F.regexp_extract((F.col("tpep_dropoff_datetime") - F.col("tpep_pickup_datetime")).cast("string"), r"(\d{2}:\d{2}:\d{2})", 1).alias("total_time_travel"), # New column for total travel time in seconds
    F.col("passenger_count"),
    F.col("trip_distance"),
    F.col("RatecodeID").alias("rate_code_id"),
    F.col("store_and_fwd_flag").alias("store_fwd_bool"),
    F.col("PULocationID").alias("pickup_location_id"),
    F.col("DOLocationID").alias("dropoff_location_id"),
    F.col("payment_type"),
    F.col("fare_amount"),
    F.col("extra"),
    F.col("mta_tax"),
    F.col("tip_amount"),
    F.col("tolls_amount"),
    F.col("improvement_surcharge"),
    F.col("total_amount"),
    F.col("congestion_surcharge"),
    F.col("airport_fee")
)

fact_trips.show(5)

+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|    trip_id|vendor_id|        pickup_time|       dropoff_time|total_time_travel|passenger_count|trip_distance|rate_code_id|store_fwd_bool|pickup_location_id|dropoff_location_id|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|51539607552|        2|2023-01-01 00:32:10|2023-01-01 00:40:36|         00:08:26|            1.0|         0.97|         1.0|         false|               161|                141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|51539607553|        2|2023-01-01 00:55:08|2023-01-01 01:01:27|         00:06:19|            1.0|          1.1|         1.0|         false|                43|                237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|51539607554|        2|2023-01-01 00:25:04|2023-01-01 00:37:49|         00:12:45|            1.0|         2.51|         1.0|         false|                48|                238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|51539607555|        2|2023-01-01 00:10:29|2023-01-01 00:21:19|         00:10:50|            1.0|         1.43|         1.0|         false|               107|                 79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|51539607556|        2|2023-01-01 00:50:34|2023-01-01 01:02:52|         00:12:18|            1.0|         1.84|         1.0|         false|               161|                137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("Load Gold to DB") \
        .config("spark.jars.packages", "org.postgresql:postgresql:42.7.2") \
        .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
:: loading settings :: url = jar:file:/Users/leonnardo.pereira/Desktop/personal/NYC%20Taxi%20Mini%20Pipeline/.venv/lib/python3.12/site-packages/pyspark/jars/ivy-2.5.3.jar!/org/apache/ivy/core/settings/ivysettings.xml
Ivy Default Cache set to: /Users/leonnardo.pereira/.ivy2.5.2/cache
The jars for the packages stored in: /Users/leonnardo.pereira/.ivy2.5.2/jars
org.postgresql#postgresql added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-aae75f6d-fd20-4719-a87a-7b6af156736f;1.0
	confs: [default]
	found org.postgresql#postgresql;42.7.2 in central
	found org.checkerframework#checker-qual;3.42.0 in central
:: resolution report :: resolve 51ms :: artifacts dl 2ms
	:: modules in use:
	org.checkerframework#checker-qual;3.42.0 from central in [default]
	org.postgresql#postgresql;42.7.2 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-aae75f6d-fd20-4719-a87a-7b6af156736f
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/3ms)
26/02/23 18:47:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
db_url = f"jdbc:postgresql://localhost:5432/nyc_taxi_warehouse"

jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", db_url) \
    .option("dbtable", "public.dim_location") \
    .option("user", "test") \
    .option("password", "test_pass") \
    .option("driver", "org.postgresql.Driver") \
    .load()

jdbcDF.show(50)

+-----------+-------------+--------------------+------------+
|location_id|      borough|                zone|service_zone|
+-----------+-------------+--------------------+------------+
|          1|          EWR|      Newark Airport|         EWR|
|          2|       Queens|         Jamaica Bay|   Boro Zone|
|          3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|          4|    Manhattan|       Alphabet City| Yellow Zone|
|          5|Staten Island|       Arden Heights|   Boro Zone|
|          6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|          7|       Queens|             Astoria|   Boro Zone|
|          8|       Queens|        Astoria Park|   Boro Zone|
|          9|       Queens|          Auburndale|   Boro Zone|
|         10|       Queens|        Baisley Park|   Boro Zone|
|         11|     Brooklyn|          Bath Beach|   Boro Zone|
|         12|    Manhattan|        Battery Park| Yellow Zone|
|         13|    Manhattan|   Battery Park City| Yellow Zone|
|         14|     Brooklyn|           Bay Ridge|   Boro Zone|
|         15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|         16|       Queens|             Bayside|   Boro Zone|
|         17|     Brooklyn|             Bedford|   Boro Zone|
|         18|        Bronx|        Bedford Park|   Boro Zone|
|         19|       Queens|           Bellerose|   Boro Zone|
|         20|        Bronx|             Belmont|   Boro Zone|
|         21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|         22|     Brooklyn|    Bensonhurst West|   Boro Zone|
|         23|Staten Island|Bloomfield/Emerso...|   Boro Zone|
|         24|    Manhattan|        Bloomingdale| Yellow Zone|
|         25|     Brooklyn|         Boerum Hill|   Boro Zone|
|         26|     Brooklyn|        Borough Park|   Boro Zone|
|         27|       Queens|Breezy Point/Fort...|   Boro Zone|
|         28|       Queens|Briarwood/Jamaica...|   Boro Zone|
|         29|     Brooklyn|      Brighton Beach|   Boro Zone|
|         30|       Queens|       Broad Channel|   Boro Zone|
|         31|        Bronx|          Bronx Park|   Boro Zone|
|         32|        Bronx|           Bronxdale|   Boro Zone|
|         33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|         34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|         35|     Brooklyn|         Brownsville|   Boro Zone|
|         36|     Brooklyn|      Bushwick North|   Boro Zone|
|         37|     Brooklyn|      Bushwick South|   Boro Zone|
|         38|       Queens|     Cambria Heights|   Boro Zone|
|         39|     Brooklyn|            Canarsie|   Boro Zone|
|         40|     Brooklyn|     Carroll Gardens|   Boro Zone|
|         41|    Manhattan|      Central Harlem|   Boro Zone|
|         42|    Manhattan|Central Harlem North|   Boro Zone|
|         43|    Manhattan|        Central Park| Yellow Zone|
|         44|Staten Island|Charleston/Totten...|   Boro Zone|
|         45|    Manhattan|           Chinatown| Yellow Zone|
|         46|        Bronx|         City Island|   Boro Zone|
|         47|        Bronx|  Claremont/Bathgate|   Boro Zone|
|         48|    Manhattan|        Clinton East| Yellow Zone|
|         49|     Brooklyn|        Clinton Hill|   Boro Zone|
|         50|    Manhattan|        Clinton West| Yellow Zone|
+-----------+-------------+--------------------+------------+
only showing top 50 rows

In [2]:
db_url = f"jdbc:postgresql://localhost:5432/nyc_taxi_warehouse"

jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", db_url) \
    .option("dbtable", "public.fact_trip") \
    .option("user", "test") \
    .option("password", "test_pass") \
    .option("driver", "org.postgresql.Driver") \
    .option("fetchsize", "10000") \
    .load()

jdbcDF.show(10)

+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+-----+
|    trip_id|vendor_id|        pickup_time|       dropoff_time|total_time_travel|passenger_count|trip_distance|rate_code_id|store_fwd_bool|pickup_location_id|dropoff_location_id|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|year|month|
+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+-----+
|17179869184|        1|2023-05-01 00:33:13|2023-05-01 00:53:01|         00:19:48|              0|          7.8|           1|         false|               138|                 43|         1.0|       33.8| 7.75|    0.5|       8.6|         0.0|                  1.0|       51.65|                 0.0|       1.75|2023|    5|
|51539607552|        1|2023-04-01 00:14:49|2023-04-01 00:45:01|         00:30:12|              2|          4.9|           1|         false|                48|                223|         1.0|       28.9|  3.5|    0.5|       6.0|         0.0|                  1.0|        39.9|                 2.5|        0.0|2023|    4|
|17183158784|        1|2023-05-31 16:14:29|2023-05-31 16:32:02|         00:17:33|              1|          2.8|           1|          true|               231|                186|         1.0|       18.4|  5.0|    0.5|      4.95|         0.0|                  1.0|       29.85|                 2.5|        0.0|2023|    5|
|51542239232|        1|2023-04-26 13:06:39|2023-04-26 13:44:45|         00:38:06|              2|         10.6|           1|         false|               138|                 68|         1.0|       47.8| 9.25|    0.5|      13.0|        6.55|                  1.0|        78.1|                 2.5|       1.75|2023|    4|
|17179869185|        1|2023-05-01 00:42:49|2023-05-01 01:11:18|         00:28:29|              2|          8.1|           1|         false|               138|                262|         1.0|       35.9|10.25|    0.5|       9.5|         0.0|                  1.0|       57.15|                 2.5|       1.75|2023|    5|
|17183158785|        1|2023-05-31 16:43:43|2023-05-31 16:50:10|         00:06:27|              1|          1.0|           1|         false|               230|                142|         1.0|        7.9|  5.0|    0.5|      2.88|         0.0|                  1.0|       17.28|                 2.5|        0.0|2023|    5|
|51539607553|        2|2023-04-01 00:00:24|2023-04-01 00:56:19|         00:55:55|              1|        21.89|           2|         false|               132|                 43|         2.0|       70.0|  0.0|    0.5|       0.0|        6.55|                  1.0|        81.8|                 2.5|       1.25|2023|    4|
|17179869186|        1|2023-05-01 00:56:34|2023-05-01 01:13:39|         00:17:05|              2|          9.1|           1|         false|               138|                141|         1.0|       35.2|10.25|    0.5|      10.7|        6.55|                  1.0|        64.2|                 2.5|       1.75|2023|    5|
|51542239233|        2|2023-04-26 13:13:18|2023-04-26 13:32:10|         00:18:52|              1|         5.91|           1|         false|               234|                 13|         1.0|       27.5|  0.0|    0.5|      7.88|         0.0|                  1.0|       39.38|                 2.5|        0.0|2023|    4|
|17183158786|        1|2023-05-31 16:51:05|2023-05-31 16:55:05|         00:04:00|              1|          0.4|           1|         false|               142|                163|         1.0|        5.8|  5.0|    0.5|      3.05|         0.0|                  1.0|       15.35|                 2.5|        0.0|2023|    5|
+-----------+---------+-------------------+-------------------+-----------------+---------------+-------------+------------+--------------+------------------+-------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----+-----+
only showing top 10 rows